@import '../../index.scss';

.favorites-page {
  padding-top: 5.5rem;
  background-color: $lightColor;
  min-height: 100vh;
}

.favs-grid {
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.no-fave-message{
  text-align: center;
}