@import '../../index.scss';

.mainHeader {
  background-image: url('./hops.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 20vh;
  border-bottom: 2rem solid $primaryColor;


  display: flex;
  justify-content: center;
  align-items: center;
}

