@import '../../index.scss';

.overlay-container{
    background-color: $primaryColor;
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.age-check-wrapper{
    height: 50%;
    width: 50%;
    background-color: rgba(249, 226, 196, 0.9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
  margin: 2rem;
}

.age-check-circle p{
    margin-top: 30px;
}

.age-check-circle button{
    margin: 20px;
    width: 5em;
    border-radius: 5px;
}

.yes-button,
.no-button{
  font-size: 1rem;
  height: 2.5rem;
  width: 6rem;
  border-radius: 5px;
  background-color: $primaryColor;
}

.yes-button:hover{
  cursor: pointer;
  background-color: rgb(154, 195, 93);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba( 0, 0, 0, .5);
}

.no-button:hover{
  cursor: pointer;
  background-color: rgb(247, 2, 2);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba( 0, 0, 0, .5);
}

