@import '../../index.scss';

.hero-img {
  background-image: url('../../Assets/hops.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
}

.main-header {
  // margin-top: 3rem;
  position: relative;
  min-height: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  // justify-content: flex-end; 
}

