@import '../../index.scss';

.hero-img {
  background: url('../../Assets/hops.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
}

.main-header {
  position: relative;
  min-height: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
