.navBar {
  display: block;
  position: absolute;
  top: 0;
  background-color: rgba(39, 63, 29, .6);
  width: 100%;
  z-index: 1;
}

ul {
  padding: 0 ;
  width: 100%;
  display: flex;
  justify-content: end;
}

.navLink {
  display: flex;
  color: #f5f5dc;
  min-height: 2.5rem;
  width: 7rem;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  &:hover {
    background-color: #7daa40;
  }
}
.active {
  text-decoration: underline #7daa40 3px;
  cursor: default;
}
