@import '../../index.scss';
.search-container {
  height: 100%;
  position: relative;
  margin: auto 0;
}

.search-bar {
  height: 3.2rem;
  max-width: 40rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 4rem;
  > * {
    border-radius: 5px;
    height: 2rem;
  }
}

.location-error-message {
  position: absolute;
  top: 75%;
  left: 0;
  margin: 1rem 0;
  padding: 0.5rem;
  
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  
  color: red;
  border-radius: 5px;

  input {
    border-radius: 5px;
  }
  
  &.state-error {
    left: 42%;
  }
  
  &.city-error {
    left: 10%;
  }
}

#searchInput {
  margin-right: 1rem;
  width: 16rem;
}

#searchBtn {
  text-transform: uppercase;
  @include btn;
  color: $lightColor;
  background-color: $accentColor;
  &:hover {
    cursor: pointer;
  }
}

.dropdown {
  margin-right: 1rem;
  width: 6.5rem;
  border-radius: 5px;
}

.suggestions {
  position: absolute;
  border-top: 1px solid rgb(212, 212, 212);
  background-color: rgb(247, 247, 247);
  border-radius: 0 0 10px 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  // z-index: 100; // not working

  li {
    padding: 10px;
    cursor: pointer;
    list-style: none;
  }
}
