@import '../../index.scss';

.searchBar {
  height: 3.2rem;
  max-width: 40rem;
  padding: .5rem;
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;

  input {
    border-radius: 5px;;
  }
}

.location-error-message{
  padding: .5rem;
  border: .5rem solid $accentColor;
  background-color: $lightColor;
  margin-bottom: 0.5rem ;
}

#searchInput {
  margin-right: 1rem;
  width: 16rem;
}

#searchBtn {
  text-transform: uppercase;
  @include btn;
  color: $lightColor;
  background-color: $accentColor;
  &:hover {
    cursor: pointer;
  }
}
.dropdown{
  margin-right: 1rem;
  width: 6.5rem;
  border-radius: 3px;
}