* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

@mixin btn {
  width: 6rem;
  border-radius: 5px;
  color: $lightColor;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

$accentColor: #562007;
$lightAccentColor: #9c5425;
$darkColor: #273f1d;
$oliveGreen: #bab86c;
$mediumColor: #808000;
$brightColor: #7daa40;
$lightColor: #f7f7ed;

@media screen and (max-width: 1080px) {
  .map-container {
    grid-column: 3 / span 2;
  }

  .brewery-container {
    grid-column: 1 / span 2;
  }
  .no-results-message{
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .map-container {
    grid-column: auto;
    order: 1;
    height: 250px;
  }

  .brewery-container {
    grid-column: auto;
    order: 2;
  }

  #dropdown,
  #searchInput,
  #searchBtn {
    width: 9rem;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }

  .search-bar {
    height: 6rem;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .logo {
    height: 4rem;
  }

  .nav-bar {
    height: 2.5rem;
  }
  .favorites-page {
    padding-top: 4rem;
  }
 #ageQ {
    font-size: 2rem;
  }

}
