@import '../../index.scss';

.map__container{
  height: 400px;
  grid-column: 2 / span 3;
  height: 100%;
}

.leaflet-container {
  width: auto;
  height: 78vh;
  margin: 1vh;
  box-sizing: border-box;
}