@import '../../index.scss';

.map-container {
  height: 100%;
  grid-column: 2 / span 3;
  position: relative;

  button {
    &:hover {
      background-color: aqua;
      cursor: pointer;
    }

    &:disabled {
      cursor:not-allowed;
    }
  }
}

.leaflet-container {
  height: 100%;
  width: auto;
}

.brewery-popup {
  background-color: $lightAccentColor;
  padding: 0;
  color: #f5f5dc;
}

.leaflet-popup-content-wrapper {
  background-color: $lightAccentColor;
}
