@import '../../index.scss';

.brewery-card {
  background-color: #e3e3c4;
  height: fit-content;
  max-width: 100%;
  padding: 1rem;
  position: relative;

  .name {
    margin-right: 2rem;
  }
}
.card-a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  height: 2rem;
  width: 5rem;
  @include btn;
  background-color: $lightAccentColor;
  color: #f5f5dc;
  text-decoration: none;
  cursor: pointer;
}

.card-a-box {
  display: flex;
  justify-content: space-evenly;
}

.brewery-card-favorites-btn {
  cursor: pointer;
  background-color: #e3e3c4;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.card-text {
  margin: 0.5rem 0;
}

.selected{
  background-color: rgb(229, 164, 42);
  border: 3px solid black;
}