@import '../../index.scss';

.brewery-card {
  background-color: #D5D5A7;
  max-width: 28rem;
  padding: 1rem;
  position: relative;
}

.card-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  width: 5rem;
  @include btn;
  background-color: $lightAccentColor;
  color: #f5f5dc;
  text-decoration: none;
  cursor: pointer;
}

.card-a-box {
  display: flex;
  justify-content: space-evenly;
}

.brewery-card-favorites-btn {
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.card-text {
  margin: 0.5rem 0;
}

.selected{
  background-color: #AEAD56;
}